{
  "plugins": [
    [
      "./scripts/babel-plugin-deadly-simple",
      {
        "bad": "good",
        "dead": "alive"
      }
    ],
    [
      "./scripts/babel-plugin-node-env-replacer",
      {
        "NODE_ENV": "production"
      }
    ]
  ]
}
